{% extends 'base.html' %}
{% load static %}
{% block content %}

  <!-- Content Wrapper. Contains page content -->
  <div class="content-wrapper">
    <!-- Content Header (Page header) -->
    <div class="content-header">
      <div class="container-fluid">
        <div class="row mb-2">
          <div class="col-sm-6">
            <h1 class="m-0">Sub Contractor Register</h1>
          </div><!-- /.col -->
          <div class="col-sm-6">
            <ol class="breadcrumb float-sm-right">
              <li class="breadcrumb-item"><a href="#">Home</a></li>
              <li class="breadcrumb-item active">Sub Contractor Register</li>
            </ol>
          </div><!-- /.col -->
        </div><!-- /.row -->
      </div><!-- /.container-fluid -->
    </div>
    <!-- /.content-header -->

    <!-- Main content -->
    <div class="content">
      
    <form action="" method="POST" enctype="multipart/form-data">
      {% csrf_token %} 
      <div class="container-fluid">
      
        <div class="row">
          <div class="col-md-12">
            <div class="card card-dark card-outline">
              <div class="card-header">
                <h3 class="card-title font-weight-bold">Sub Contractor Register</h3>
              </div>
              <div class="card-body">
               
                  <div class="bs-stepper-content">
                    <!-- your steps content here -->
                    <div id="logins-part" class="content" role="tabpanel" aria-labelledby="logins-part-trigger">
                      <div class="form-group">
                        <label for="vehicleName" class="font-weight-bold">Contractor Name <span class="text-danger required-font-size">*</span></label></label>
                        <input type="text" class="form-control" id="contractorname" name="contractorname" placeholder="Contractor Name" required>
                      </div>
                      <div class="form-group">
                        <label for="companyName" class="font-weight-bold">Firm Name <span class="text-danger required-font-size">*</span></label></label>
                        <input type="text" class="form-control" id="firmname" name="firmname" placeholder="Firm Name" required>
                      </div>
                      <div class="form-group">
                        <label for="aadharNumber" class="font-weight-bold">Type Of Work <span class="text-danger required-font-size">*</span></label></label>
                        <input type="text" class="form-control" id="typeofwork" name="typeofwork" placeholder="Type Of Work" required>
                      </div>
                      <div class="form-group">
                        <label for="vehicleNumber" class="font-weight-bold">Experience In Years <span class="text-danger required-font-size">*</span></label></label>
                        <input type="text" class="form-control" id="expriencesinyear" name="expriencesinyear" placeholder="Experience In Years" required>
                      </div>
                      <div class="form-group">
                        <label for="aadharNumber" class="font-weight-bold">License Number <span class="text-danger required-font-size">*</span></label></label>
                        <input type="text" class="form-control" id="license_number" name="license_number" placeholder="License Number" required>
                      </div>
                      
                      <div class="form-group">
                        <label for="aadharNumber" class="font-weight-bold">Aadhar Number Front Image <span class="text-danger required-font-size">*</span></label></label>
                        <input type="file" class="form-control" id="Aadharnumberfrontimage" name="Aadharnumberfrontimage" placeholder="Aadhar No Front Image" required>
                      </div>
                      <div class="form-group">
                        <label for="aadharNumber" class="font-weight-bold">Aadhar Number Back Image <span class="text-danger required-font-size">*</span></label></label>
                        <input type="file" class="form-control" id="Aadharnumberbackimage" name="Aadharnumberbackimage" placeholder="Aadhar No Back Image" required>
                      </div>
                      
                      <div class="form-group">
                        <label for="aadharNumber" class="font-weight-bold">Mobile Number <span class="text-danger required-font-size">*</span></label></label>
                        <input type="text" class="form-control" id="mobilenumber" name="mobilenumber" placeholder="Mobile Number" required>
                      </div>
                     
                      <div class="form-group">
                        <label for="aadharNumber" class="font-weight-bold">SubContractorWorkingSiteImage <span class="text-danger required-font-size">*</span></label></label>
                        <input type="file" class="form-control" id="subcontractor_image" name="subcontractor_image" placeholder="SubContractorImage" multiple required>
                      </div>
                      <div class="form-group">
                        <label for="aadharNumber" class="font-weight-bold">Email-Id <span class="text-danger required-font-size">*</span></label></label>
                        <input type="text" class="form-control" id="emailId" name="emailId" placeholder="Email-Id" required>
                      </div>
                      <button type="submit" class="btn btn-primary bg-yellow btn-radius elevation-2" onclick="stepper.next()">Next</button>
                    </div>
        
                  </div>
                </div>
              
            
              <!-- /.card-body -->
            </div>
            <!-- /.card -->
          </div>
        </div>
        <!-- /.row -->

      </div><!-- /.container-fluid -->
    </form>
    </div>
    <!-- /.content -->
  </div>
  <!-- /.content-wrapper -->

  {% endblock %}
